.job-title-icon {
    width: 30px;
    height: 30px;
    border: 2px solid #2e6da4;
    display: inline-block;
    border-radius: 4px;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    
}

.well.profile-block {
    color: black;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    h3  { margin-top: 0px; }
}

.image {
    border-radius: 20%;
    border: 2px solid white;
}
